{% load media %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Secret Message</title>

        {% media js:lib/jquery-1.7.1.js %}
        {% media js:lib/jquery-ui-1.8.16.custom.min.js %}
        {% media js:lib/jquery-ui-timepicker-addon.js %}
        {% media js:lib/underscore %}
        {% media js:lib/backbone %}
        {% media js:lib/require %}
        {% media js:lib/backbone-tastypie %}
        {% media css:screen %}
        {% media css:ui-lightness/jquery-ui-1.8.16.custom %}
        <script type='text/javascript'>
            require.config({
                baseUrl: "{{MEDIA_URL}}js/"
            })
        </script>

        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
            {% block content %}
            {% endblock %}
    </body>
</html>
