{% extends "frontend/layout.html" %}
{% load media %}

{% block extra_head %}
    {% media js:home %}
{% endblock %}
{% block header %}{% endblock %}

{% block container %}
      <div class='alert' style='display:none'>
        En hora buena, tu mensaje ha sido crado exitosamente! :D<br/>
        Puedes enviar a tus amigos este link:<br/>
        <span class='link'></span>
      </div>

      <div class="form">
          <p>
            <input type="text" name="title" value="" id="title" placeholder='Title (This will be visible)'>
          </p>
          <p>
            <textarea id="message" rows="15" cols="40" placeholder='Hidden message'></textarea>
          </p>
          <p>
            <input type="date" id="date" name="date" placeholder="Publication Date" />
          </p>
          <a class='button' id='submit'>Crear Mensaje</a>
      </div>  

{% endblock %}
    
