{% extends "frontend/layout.html" %}
{% load media %}

{% block extra_head %}
    {% media js:home %}
{% endblock %}
{% block header %}{% endblock %}

{% block container %}
<p>Una aplicaci&oacute;n que te permite crear mensajes a quien quieras y
que no lo pueda ver hasta el momento indicado.</p>

      <div id="create_message">
        <h2>Crear Nuevo Mensaje</h2>

          <p>
            <label for="title">T&iacute;tulo</label>
            <input type="text" name="title" value="" id="title">
          </p>
          <p>
            <label for="message">Mensaje</label>
            <textarea id="message" rows="15" cols="40"></textarea>
          </p>
          <p>
            <label for="date">Fecha</label>
            <input type="date" id="date" name="date" />
          </p>
          <button id='submit'>Crear Mensaje</button>
      </div>  
      <!--
      <div class="alert">
        Tu mensaje ha sido creado correctamente!
      </div>

      <h2>Ahora puedes</h2>

      <ul id="actions">
          <li>Enviar el link del mensaje:
          <a href="">http://secret-message.com/message/randomid1234</a></li>
          <li>Editar o administrar el mensaje: 
          <a href="">http://secret-message.com/message/randomid1234/admin/customCode</a></li>
      </ul>
      -->

{% endblock %}
    
