{% extends "base.html" %}

{% block content %}

<!-- header -->
<div id="head_bg">
    <div id="header"> 
        <h1 class='title'>Secret Message</h1>
    	<span class='subtitle'>Send it <b class='blue'>now</b>, read it <b class='blue'>in the right time!</b></span>
        {% block header %}
        {% endblock %}
    </div>
</div>
<!-- /header -->
<!-- container -->

<div id="container">

    <div id="content">
    {% block container %}
    {% endblock %}    
    </div>
</div>

<!-- /container -->

{% endblock %}

