{% extends "frontend/layout.html" %}
{% load media %}
{% block extra_head %}

  {% media js:lib/jquery.countdown %}
  {% media js:lib/jquery.countdown-es %}

  {% media css:screen %}
  {% media css:jquery.countdown %}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
    
      //$.getJSON('');
      
      var newYear = new Date(); 
      endDate = new Date(newYear.getFullYear()+1, 1 - 1, 2);
      $('#defaultCountdown').countdown({until: endDate, format: 'YOWDHMS'}); 
    });
  </script>

{% endblock %}
{% block header %}{% endblock %}

{% block container %}
      <h2>Mensaje: <span class="message_id">idraro123</span></h2>
      
      <p>Te han enviado un mensaje secreto!, sin embargo aún no puedes verlo, tienes que esperar:</p>
      
      <div id="defaultCountdown"></div>


    <!--
      <div class="alert">
        El mensaje pudo ser abierto ahora!
      </div>

      <h2>un mensaje secreto</h2>

      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      -->
{% endblock %}
    
