{% extends "frontend/layout.html" %}
{% load media %}
{% block extra_head %}

  {% media js:lib/jquery.countdown %}
  {% media js:lib/jquery.countdown-es %}

  {% media css:screen %}
  {% media css:jquery.countdown %}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
    
      $.getJSON('/api/resources/message/{{message.id}}/',function(response){
        console.log(response);
        if(response.time_to_reveal <= 0){
          dateEnd = new Date((new Date()).getTime() + 800+response.time_to_reveal*1000);
          $('#defaultCountdown').countdown({until: dateEnd, format: 'YOWDHMS', onExpiry: function(){
            $('#defaultCountdown').toggle('fast').html("mensaje:<b>"+response.message+"</b>").toggle('fast');
          }});
          
        } else{
          dateEnd = new Date((new Date()).getTime() + response.time_to_reveal*1000);
          $('#defaultCountdown').countdown({until: dateEnd, format: 'YOWDHMS',onExpiry: function(){set_message()}});
          
        } 

      });
      
      var newYear = new Date(); 
      console.log(newYear.getFullYear())
      endDate = new Date(newYear.getFullYear(), 11, 24,5,7);
      console.log(endDate.toString());
       
    });

    function set_message(){
      setTimeout(function(){
        $.getJSON('/api/resources/message/{{message.id}}/',function(response){
          console.log(response);
          $(".alert").toggle();
          $("#defaultCountdown").html("mensaje:<b>"+response.message+"</b>");
        });
      },1000);
    }

  </script>

{% endblock %}
{% block header %}{% endblock %}

{% block container %}

      <div class="alert" style='display:none;'>
        El mensaje pudo ser abierto ahora!
      </div>

      <p>{{message.description}}</p>
      
      <div id="defaultCountdown"></div>

{% endblock %}
    
